doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width,initial-scale=1.0')
    link(rel='stylesheet', href='./main.scss')
    title Controllerly Documentation | Remote Gamepad for the Smartphone
  body
    .container
      h1
        | Controllerly
      h3
        small.text-muted Remote Gamepad for the Smartphone
      p.lead
